body {
  margin: 0;
  padding: 0;
}

#map {
  position:absolute;
  left:25%;
  top:0;
  bottom:0;
  width: 75%;
}

.button-container {
  margin: 10px auto;
  width: 90%;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.hidden {
  display: none !important;
}

#date-selector-container {
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(5, 25px);
  grid-template-columns: 25% 25%;
  grid-auto-flow: column;
  grid-auto-columns: 50% 50%;
}

/* Mapbox GL Stuff */

.mapboxgl-popup {
  max-width: 400px;
  max-height: 400px;
}

.mapboxgl-popup-content {
  font-family: 'Open Sans', sans-serif;
  overflow: scroll;
}

.mapboxgl-popup-content h1 {
  font-size: 20px;
}

.mapboxgl-popup-content h2 {
  font-size: 16px;
}

.mapboxgl-popup-content h2 {
  font-size: 14px;
}

.map-overlay {
  position: absolute;
  width: 25%;
  top: 0;
  bottom: 0;
  left: 0;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  background-color: #fff;
  max-height: 100%;
  overflow: hidden;
}

#feature-listing p:nth-child(odd) {
  background-color: #f2f2f2;
}

.map-overlay fieldset {
  display: none;
  background: #ddd;
  border: none;
  padding: 10px;
  margin: 0;
}

.map-overlay .overlay-item {
  display: block;
  border: none;
  width: 100%;
  border-radius: 3px;
  padding: 10px;
  margin: 0;
}

.map-overlay .listing {
  overflow: auto;
  max-height: 100%;
}

.map-overlay .listing > * {
  display: block;
  padding: 5px 10px;
  margin: 0;
}


.map-overlay .listing p:hover {
  border: #0095ff;
  border-style: groove;
  margin: 2px;
}

#see-list-button {
  display: none;
}

.map-overlay .closebtn {
  display: none
}


/* Modal stuff */

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close-filter-modal {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-filter-modal:hover,
.close-filter-modal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 5px ;
  background-color: #5cb85c;
  color: white;
  height: 35px;
  font-size: 20px;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

#filterModal .buttons {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  text-align: center;
}

#filterModal .buttons a {
  margin: 20px;
}


/* Media */

@media only screen and (max-device-width: 580px) {

  .mapboxgl-control-container {
    display: none;
  }

  #see-list-button-mobile {
    position: absolute;
    display: block;
    left: 0px;
    bottom: 0px;
    width: 100%;
    text-align: center;
  }

  .map-overlay {
    position: absolute;
    width: 100%;
    height: 0%;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: #fff;
    overflow: hidden;
    transition: 0.5s;
  }

  #date-selector-container {
    grid-template-columns: unset;  
  }

  .map-overlay .closebtn {
    position: absolute;
    display: block;
    left: 0px;
    bottom: 25px;
    width: 100%;
    text-align: center;
    font-size: 64px;
  }

  #filterModal .buttons {
    display: flex;
    flex-direction: column;
  }
}
